<div>
  <h4>
    {{ dish().name }} -
    <span>{{
      dish().priceCents / 100 | currency: "EUR" : "symbol" : "1.2-2"
    }}</span>
  </h4>
  @if (dish().description) {
    <p>{{ dish().description }}</p>
  }
  @if (dish().allergens.length > 0) {
    <p>
      <span>{{ "dish.allergens" | translate }} </span>
      <span>
        @for (allergen of dish().allergens; track allergen.id) {
          <p-badge
            [value]="localizeAllergen(allergen, lang())"
            severity="info"
            badgeSize="small"
          />
        }
      </span>
    </p>
  }
</div>
