<div>
  <p-iconfield>
    <p-inputicon>
      <svg data-p-icon="search"></svg>
    </p-inputicon>
    <input
      type="text"
      pInputText
      [placeholder]="'filters.search.placeholder' | translate"
      [(ngModel)]="search"
      pSize="small"
    />
  </p-iconfield>
</div>

<div>
  <p-selectbutton
    [options]="sortOptions()"
    optionLabel="label"
    optionValue="value"
    [(ngModel)]="sort"
    size="small"
  >
  </p-selectbutton>
  <p-selectbutton
    [options]="langOptions"
    optionValue="value"
    optionLabel="label"
    [(ngModel)]="lang"
    size="small"
  >
  </p-selectbutton>
</div>

<div>
  @if (allergens().length > 0) {
    <p>{{ "filters.allergens" | translate }}</p>

    @for (allergen of allergens(); track allergen.code) {
      <p-button
        [label]="localizeAllergen(allergen, lang())"
        [outlined]="!excludedAllergens().has(allergen.code)"
        [rounded]="true"
        size="small"
        (onClick)="allergenToggle.emit(allergen.code)"
      />
    }
  }
</div>
<div>
  @if (excludedAllergens().size > 0) {
    <button
      pButton
      iconOnly
      rounded
      severity="danger"
      size="small"
      [attr.aria-label]="'filters.clearAllergens' | translate"
      [title]="'filters.clearAllergens' | translate"
      (click)="clearAllergens.emit()"
    >
      <svg data-p-icon="times"></svg>
    </button>
  }
</div>
