<h1>{{ title() }}</h1>

@if (menuService.status() === "loading" || menuService.status() === "idle") {
  <p-progress-spinner ariaLabel="loading" />
} @else if (menuService.status() === "error") {
  <p-message severity="error" variant="outlined">{{
    menuService.error() ?? "Error al cargar datos"
  }}</p-message>
  <button (click)="menuService.load()" pButton>Retry</button>
} @else if (menuService.status() === "ready") {
  @for (node of menuService.menuTree(); track node.section.id) {
    <app-menu-section [node]="node" [lang]="langService.lang()" />
  } @empty {
    <p>No hay platos disponibles para mostrar.</p>
  }
}
